w<div class="container-fluid p-1 my-2 bg-dark text-white text-center">
  <h3>Developer Profile</h3>
</div>
<%= render partial: "dashboard/user", locals: { projects: @projects, disable_edit: true } %>
