<%=render 'projects/show_project' , projects: projects%>


<%
=begin%>

 <% if current_user.qa? %>
  <div class = "text-center text-black">
      <%= link_to 'Create new Bugg ', new_project_bugg_url(@project),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn btn-success'}  %>
      <div id="modal-window" class="modal hide fade" role="dialog">
        <div class="modal-dialog modal-xl" role="document">
          <div class="modal-content">
          </div>
        </div>
      </div>
  </div>
  <div class= "text-white" id="permit">
  <%= render 'buggs/bugg_table', bugg: @bugg %>
  </div>
<% end %>
<%
=end%>
